html {
    scroll-behavior: smooth;
}
body {
background-color: rgb(195, 195, 195);
font-family: "Montserrat";
font-weight: 800;
}
#spustitHudbu {
    position:absolute;
    z-index: 1;
    top:1%;
}
#dulezitaOtazka {
    width: 100%;
    height: 100%;
    background-color: rgba(160, 160, 160, 0.308);
}
#dulezitaOtazka button {
    font-size: 38px;
    display:inline-block;
    width: 160px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    z-index: 8;
}
#dulezitaOtazka #pocitac {
    background-color: rgb(68, 216, 0);
}
#dulezitaOtazka #mobil {
    background-color: red;
}
#dulezitaOtazka ul li {
    list-style-type: none; 
    display:inline;
    position:absolute;
    top:40%;
    left:50%;
}
#dulezitaOtazka ul li #pocitac {
    position:absolute;
    right:45%;
    z-index: 10;
}
#dulezitaOtazka #sedaObrazovka {
    width: 100%;
    height: 110%;
    top:0;
    left: 0;
    background-color: rgba(80, 80, 80, 0.788);
    position:absolute;
    z-index: 5;
}

#dulezitaOtazka img{
position:absolute;
z-index: 1;
left:50%;
transform: translateX(-50%);
z-index: 6;
}

#dulezitaOtazka #varovani {
    position:absolute;
    z-index: 7;
    color:red;
    text-shadow: 0px 0px 10px black;
    top:50%;
    left:39%;
    transform:rotateX(-50%);
}

#hudba {
    position:relative;
    top:150px;
    left:100px;
    font-size: 34px;
    width:60px;
    background-color: rgb(17, 160, 255);
}

#mistnostPocet {
    font-size: 82px;
    position:absolute;
    color:rgb(46, 46, 46);
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}
#obrazek {
    width:25%;
    display:block;
    margin:0 auto;
    border:10px solid black;
}

#tlacitka {
    text-align: center;
}
#tlacitka button {
    font-size: 48px;
    margin:0 15px;
    display:inline-block;
    width:160px;
}

#sebrat {
    background-color: rgb(113, 187, 255);
}

#kopat {
    background-color: rgb(255, 255, 255);
}

#zabit {
    background-color: rgb(255, 88, 88);
}
#ukazatele {
    text-shadow: 3px 3px 10px black;
    font-weight: 1000;
    display: inline;
}
#ukazatele img {
    width:100px;
}

#ukazatele ul li {
    display:inline-block;
    font-family: "Montserrat";
    font-weight: 500;
    position:absolute;
    bottom:10px;
    pointer-events: none;
}

#ukazatele #penize {
    left:50%;
    transform:translateX(-50%);
}
#ukazetele #energie {
    left:25%;
    transform:translateX(-50%);
}
#ukazatele #zivoty {
    left:90%;
    transform:translateX(-50%);
}

#penize {
    font-size:72px;
    color:rgb(0, 181, 0);
}

#energie {
    font-size:72px;
    color:rgb(255, 255, 0);
}

#zivoty {
    font-size:72px;
    color:rgb(255, 56, 56);
}

#divCheaty {
    font-size: 72px;
}

#jitDoObchodu {
    font-size: 38px;
    display:block;
    border-radius: 0.15em;
    background-color: rgb(139, 0, 182);
    color:white;
    font-weight: 800;
    width: 350px;
    position:absolute;
    top:1%;
    right: 1%;
}
#Obchod {
    background-color: rgb(235, 192, 155);
    margin-left: 15%;
    margin-top:20px;
}

#Obchod #obchudek {
    width:1330px;
    border:10px solid black;
    text-align: none;
}
#Obchod button {
    font-size: 150%;
    background-color: gainsboro;
    color:green;
    font-weight: 600;
    border: 5px solid black;
    position: absolute;
    margin-left: 15%;
}
#vratitSe {
    margin-left: 15%;
    left:20px;
    top:4%;
    font-size: 38px;
    z-index: 1;
    background-color: rgb(0, 153, 255);
    color:white;
    border-radius: 0.15em;
    font-weight: 600;
    position: absolute;
}

#vratitSe::after {
    background-color: rgb(0, 153, 255);

}

#Obchod button:hover {
    background-color: rgb(161, 161, 161);
}

#Obchod button:active {
    background-color: rgb(58, 58, 58);
}

#Obchod #koupitJidlo {              /*PRVNÍ POLIČKA*/
    top:290px;
    left:172px;
}


#Obchod #koupitLekarnicku {          /*PRVNÍ POLIČKA*/
    top:290px;
    left:300px;
}

#Obchod #koupitViceEnergie {          /*DRUHÁ POLIČKA*/
    top:455px;
    left:81px;
}

#Obchod #koupitTravu {          /*DRUHÁ POLIČKA*/
    top:455px;
    left:200px;
}

#Obchod #koupitViceZivotu {
    top:530px;
    left:425px;
}

#Obchod #koupitPolovinaEnergie {
    top:530px;
    left:540px;
}

#Obchod #koupitVicePenez {
    top:355px;
    left:742px;
}

#Obchod #koupitUpozorneniZombie {
    top:180px;
    left:845px;
}

#Obchod #koupitUpozorneniDia {
    top:180px;
    left:970px;
}